.chechoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chechoutProduct__info
{
    padding-left: 20px;
}

.chechoutProduct__info > button
{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.chechoutProduct__image
{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.chechoutProduct__rating
{
    display: flex;
}
.chechoutProduct__title
{
    font-size: 17px;
    font-weight: 800;
}